@page "/"

<PageTitle>Index</PageTitle>

<div style="margin:0">
    <img src="images/logo.jpg">
</div>
@*<MatButton>Test</MatButton>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@
