@inherits LayoutComponentBase

<PageTitle>PayzmartElectron.BlazorApp</PageTitle>

<div class="mat-layout-grid">
    <main class="mat-layout-grid-inner" style="display: flex; flex-direction: column;  height: 445px; width:235px; justify-content: space-between;">
        <div>
            <article>
              @Body
           </article>
        </div>
        <div>
            <TabBarMenu />
        </div>
    </main>
</div>
